* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 35%;
  height: 730px;
  margin-left: 33%;
  margin-top: 13%;
}

.button {
  list-style: none;
  border: solid 1px grey;
  width: 24.9%;
  height: 90px;
  display: flex;
  padding-top: 35px;
  padding-left: 11%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.buttons {
  display: flex;
  flex-flow: wrap;
}

button {
  background-color: rgb(226, 224, 224);
}

button:nth-child(17) {
  width: 49.8%;
  padding-left: 25%;
}

button:nth-child(4),
button:nth-child(8),
button:nth-child(12),
button:nth-child(16),
button:nth-child(19) {
  background-color: rgb(236, 146, 61);
}

.outPut {
  width: 99.6%;
  border: 2px grey solid;
  height: 70px;
  background-color: rgb(175, 175, 175);
  font-size: large;
  padding-left: 90%;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding-top: 25px;
}

@media only screen and (max-width: 1300px) {
  .App {
    width: 45%;
    margin-left: 27%;
  }

  button:nth-child(17) {
    padding: 30px 24.5%;
  }

  .button {
    padding-top: 30px;
    padding-left: 10%;
  }

  .outPut {
    padding-left: 84%;
    padding-top: 25px;
  }
}
